// app global css in SCSS form
@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Regular.ttf)
}

// declare a class which applies it
* {
  font-family: 'poppins', sans-serif;
}

@import "leaflet/dist/leaflet.css";